@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

:root {
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
}

.container {
    background-color: whitesmoke;
}

.landing {
    background-image: url('../images/image-hero-desktop.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    padding: 4rem 12rem;
}

nav {
    float: right;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    padding-left: 2rem;
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;    
    border-radius: 10px;
}

.small-logo {
    margin-top: -2rem;
}

.product-overview {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    margin-top: -7rem;
    padding: 0 3rem 2rem 3rem;
}

h1 {
    margin-top: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.about-product {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: var(--dark-gray);
}

.save-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.cta {
    background-color: var(--dark-cyan);
    color: #FFF;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.bookmark-icon {
    vertical-align: middle;
}

.bookmark {
    border-radius: 30px;
    border: none;
    background-color: whitesmoke;
    padding: 0 1rem 0 0;
    cursor: pointer;
}

.bookmark:link {
    text-decoration: none;
}

.product-metrics {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    padding: 3rem 3rem 1rem 3rem;
}

.metric-details {
    display: flex;
    flex-direction: row;
}

.contribution, .backers, .days-left {
    flex: 1;
    line-height: 2rem;
}

.contribution {
    padding-right: 2rem;
}

.contribution, .backers {
    border-right: 0.5px solid rgb(223, 223, 223);
}

.backers, .days-left {
    padding-left: 2rem;
}

.bold {
    font-weight: 700;
    font-size: 2rem;
    color: var(--black);
}

.light-text {
    color: var(--dark-gray);
}

.slider {
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
}

.about {
    text-align: start;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    padding: 2rem 3rem 2rem 3rem;
}

h2 {
    margin-bottom: 2rem;
}

.paragraph {
    color: var(--dark-gray);
    margin-bottom: 2rem;
}

.basic, .advanced, .special {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selection-pledge {
    color: var(--dark-cyan);
    font-weight: 700;
}

.selection-info {
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

.selection-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Selection Modal */
.selection-modal {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.selection-header {
    width: 90%;
    margin: 0 auto;
}

.selection-header h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.close-modal {
    float: right;
    cursor: pointer;
}

.pledge {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid rgb(223, 223, 223);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.pledge-header {
    margin-right: 1rem;
}

.big {
    font-weight: 700;
}

.pledge-price {
    display: inline-block;
    margin-left: 1rem;
    color: var(--moderate-cyan);
    font-weight: 500;
}

.pledges-remaining {
    display: inline-block;
}

.pledge-offer {
    margin-top: 1rem;
    line-height: 2rem;
}

input[type=radio] {
    /* position: absolute;
    opacity: 0; */
    vertical-align: bottom;
    cursor: pointer;
}

/* 
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} */

/* Success Modal */

.success-modal {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.ok-checkmark {
    margin: 1rem 0;
}

.success-goal {
    line-height: 2rem;
}

.cta {
    margin-top: 1rem;
    padding: 1rem 2rem;
}
